
$calendarFontStack: $fontStack;

$calendarBack: $accentColor;

$calendarBorder: 3px solid $calendarBack;

$calendarHeaderBack: $accentColor;
$calendarHeaderColor: $white;

$calendarMonthLabelIsUpper: true;

$calendarDaysBack: darken($wet-asphalt, 3.5%);
$calendarDaysColor: $white;

$calendarTdBack: $wet-asphalt;
$calendarTdColor: $white;

$calendarNotMonthBack: lighten($calendarTdBack, 10%);
$calendarNotMonthColor: $calendarTdColor;

$calendarShadowHOffset: 10px;
$calendarShadowVOffset: 10px;
$calendarShadowBlur: 30px;
$calendarShadowColor: opacify(darken($midnight-blue, 13%), 0.5);
$calendarShadow: $calendarShadowHOffset $calendarShadowVOffset $calendarShadowBlur / 2 $calendarShadowColor,
                 $calendarShadowHOffset * -1 $calendarShadowVOffset $calendarShadowBlur / 2 $calendarShadowColor,
                 $calendarShadowHOffset $calendarShadowVOffset * -1 $calendarShadowBlur / 2 $calendarShadowColor,
                 $calendarShadowHOffset * -1 $calendarShadowVOffset * -1 $calendarShadowBlur / 2 $calendarShadowColor;

$calendarTodayBorder: none;
$calendarTodayBack: darken($calendarTdBack, 7%);
$calendarTodayColor: $calendarTdColor;

$calendarAssignmentDropBack: $white;
$calendarAssignmentDropColor: $accentColor;

div.calendar div#month-view {
    
    table {

        width: 90%;
        min-width: 1000px;
        max-width: 1250px;

        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, 0%);

        border: $calendarBorder;

        box-shadow: $calendarShadow;

        background: $calendarBack;

        button#previous-month, button#next-month {

            height: 30%;
            width: 50%;
            
            margin: -15% 0 0 -25%;
        
            position: absolute;
            top: 50%;
            left: 50%;

            transition: color 500ms;

            background: none;
            border: none;
            color: $calendarHeaderColor;

            font-size: 40px;

        }

        thead {
            color: $calendarHeaderColor;
            background: $calendarHeaderBack;
        }

        th#year-label, th#month-label {

            vertical-align: middle;

            height: 1.5em;
            font-family: $calendarFontStack;

        }

        th#year-label {
            font-size: 30px;
        }

        th#month-label {
            font-size: 80px;
    
            @if $calendarMonthLabelIsUpper {
                text-transform: uppercase;
            }
        }
    
        tr.days-of-week th, td.day-square {
    
            width: 14.3%;
            height: 80px;
    
            border: 1px solid $calendarBack;
    
        }
    
        tr.days-of-week th {
            background: $calendarDaysBack;
            color: $calendarDaysColor;
            vertical-align: middle;
            font: 1.4em $calendarFontStack;
        }
    
        td.day-square {
    
            vertical-align: top;

            transition: height 500ms, width 500ms;

            background: $calendarTdBack;
            color: $calendarTdColor;
    
            p.day-num {
                float: left;
                padding: 5px;
                font-family: $calendarFontStack;
            }

            div.day-dropdown {

                button.day-assignment {

                    height: 50px;
                    
                    margin: 0;
                    padding: 0;

                    float: right;
                    position: relative;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, 25%);

                    transition: color 500ms;

                    background: none;
                    border: none;
                    color: $calendarTdColor;

                    font-size: 50px;

                }

                button.day-assignment:hover {
                    color: darken($calendarTdColor, 10%);
                    background: red;
                }

                div.day-assignment-content {

                    position: relative;

                    display: none;

                    min-height: 200px;
                    min-width: 300px;

                    background: $calendarAssignmentDropBack;
                    color: $calendarAssignmentDropColor;

                    font-family: $calendarFontStack;
                    font-size: 20px;

                    * {
                        outline: 1px dashed red;
                    }

                    li {
                        margin-left: 1.3em;
                    }

                    a:link, a:visited {
                        color: $calendarAssignmentDropColor;
                        
                    }
                }

            }
    
        }

        div.day-dropdown:active div.day-assignment-content,
        div.day-assignment-content:hover {
            display: block !important;
        }

        div.day-dropdown:active button,
        div.day-dropdown:hover button {
            display: none !important;
        }
    
        td.day-square.not-month {
            background: $calendarNotMonthBack;
            color: $calendarNotMonthColor;
        }

        td.day-square.today {

            border: $calendarTodayBorder;
            background: $calendarTodayBack;
            color: $calendarTodayColor;

        }

    }    

}