
/********** RESET STYLES **********/

html, body, div {
    margin: 0;
    padding: 0;
}

/********** PAGE STYLES **********/

html {
    background: #1b3652;
}


/********** TABLE LAYOUT STYLES **********/

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#month-label {
    height: 125px;
}

td, #days-of-week > th {
    width: 150px;
    height: 100px;
}

/********** TABLE DESIGN STYLES **********/

#month-view table {

    border: 2px solid #3498db;
    border-radius: 5px;

    background: #3498db;

}

#month-view tbody {
    margin-top: 3px;
}

#month-label {

    color: white;

    font: 75px sans-serif;
    text-transform: uppercase;
}

#month-view td, #days-of-week th {

    color: white;

    font: 20px sans-serif;

}

#days-of-week th {

    background: #2b3d52;

    font-weight: bold;

}

#month-view td {

    background: #34495e;

    text-align: center;

}


/********** **********/
